@tailwind base;
@tailwind components;
@tailwind utilities;

custom-scroll {
  --sb-track-color: #232e33;
  --sb-thumb-color: #ffff80;
  --sb-size: 7px;
}

custom-scroll::-webkit-scrollbar {
  width: var(--sb-size)
}

custom-scroll::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

custom-scroll::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
  border: 2px solid #232E33;
}

@supports not selector(::-webkit-scrollbar) {
  custom-scroll {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}